body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.profileTitle {
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 50px 0 30px 0;
}

.editProfile {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  height: 88vh;
  align-items: center;
  background-image: url(../img/dayback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;
  text-align: center;
}

.formProfContainer {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: black;
  text-align: left;
  width: 400px;
  justify-items: left;
}

.smallerProfile {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-around;
  text-align: left;
}

.dinoCool {
  background-image: url("../img/yellow_dino_short.gif");
  height: 200px;
  width: 200px;
  color: black;
  font-size: 28px;
  padding: 20px;
  margin-top: 285px;
}

.scoreBox {
  border: 5px dotted black;
  height: 200px;
  width: 200px;
  color: black;
  padding: 50px 65px;
  font-size: 30px;
  margin: 70px 50px 0 0;
}

.boxSignProfile {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 50px;
}

.boxButtonProfile {
  margin: 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  text-align: center;
}

.boxButtonUp {
  margin-top: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 220px;
}

.buttonsProfile {
  text-decoration: none;
  color: black;
  font-style: italic;
  width: 100px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

.buttonsProfile a {
  text-decoration: none;
}

.buttonsProfile a:active {
  text-decoration: none;
}

.buttonsProfile:hover {
  color: #80a841;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 60px 80px 0px 42px;
}

.buttons a {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btnSign {
  border-style: solid;
  border-width: 4px;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-repeat: stretch;
  border-image-width: 2;
  border-image-slice: 2;
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  margin: 4px;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: white;
  background-color: #d43532;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .btnHome {
    border-image-repeat: space;
  }
}

.btnSign::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  right: -4px;
  left: -4px;
  content: "";
  color: #d43532 !important;
  box-shadow: inset -4px -4px #770200;
}

.btnSign:focus::after,
.btnSign:hover::after {
  color: #d43532 !important;
  box-shadow: inset -6px -6px #770200;
}

.titleSign {
  color: white;
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.emailLabel {
  margin-right: 50px;
}
