.resultContainer {
  background-image: url("../img/stars.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 40%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gifWinner {
  /* background-image: url("../img/red_dino_short.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0px 380px 10px 418px;
}

.playAgain {
  font-size: 30px;
  color: white;
}

.playAgain:active {
  color: white;
}

.playAgain:hover {
  color: #80a841;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.titleResult {
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  transform: translateY(-50%);
  white-space: nowrap;
  animation: textAnimate 2s linear infinite alternate;
  background: linear-gradient(92deg, #95d7e3, #eb76ff);
  background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
  }
}

.containerWinDino {
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 0;
}

.crowntext {
  display: flex;
  flex-direction: row;
  height: 140px;
}

.crown {
  background-repeat: no-repeat;
  background-image: url("../img/crown.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  padding-top: 20px;
  margin: 50px -25px 0 420px;
}

.box1 {
  width: 300px;
  margin: 60px 10px 0px 10px;
  border: 4px solid white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* un arrière plan bleu à 50% de transparence */
}

.sb7:before {
  content: "";
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.sb7:after {
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}

.metaphore {
  width: 420px;
  background: black;
  padding: 10px;
  height: 150px;
  margin: 50px 0 400px 600px;
  position: absolute;
  border: 3px dotted red;
  animation-name: metaphore;
  animation-iteration-count: 1;
  z-index: 2;
  color: white;
  font-size: 24px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 10s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 10s both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
